@tailwind base;
@tailwind components;
@tailwind utilities;

.selectDisplayColor
{
    @apply bg-orange-300/50;
}
.conflict
{
    @apply bg-red-300;
}
.drag-select-option--selected
{
    background-color: rgb(254, 255, 166);
    opacity: 0.4;
}
img
{
    display: unset;
}
.btn-head
{
    @apply rounded-3xl px-5 py-2 mx-1 hover:bg-white duration-500;
}
.btn-head-mobile
{
    @apply rounded-3xl text-left pl-3 px-3 py-2 my-1 hover:bg-white duration-500;
}
.btn-link
{
    @apply text-center font-medium mx-2 px-5 py-3 border-2 border-orange-200 bg-orange-200 rounded-full hover:bg-transparent duration-300;
}
.btn-normal
{
    @apply text-center shadow-2xl text-white font-medium mx-2 px-5 py-1 border-2 border-gray-500 bg-gray-500 rounded-lg hover:bg-transparent hover:text-black duration-500;
}
.btn-comment
{
    @apply text-center shadow-2xl font-medium mx-2 px-5 py-1 border-2 border-[#aefff7] bg-[#aefff7] rounded-lg hover:bg-transparent hover:text-white duration-500;
}
.virtualtablehead
{
    @apply h-[1.9rem];
}
.virtualtable
{
    @apply min-w-[8.22rem] text-center py-1.5;
}
table
{
    table-layout: fixed;
}
thead > tr > th
{
    @apply text-center text-gray-900 py-1.5 font-semibold min-w-[9rem] border-b border-b-gray-900;
}
.table-head
{
    @apply text-center text-gray-900 py-1.5 font-semibold min-w-[9rem];
}
.title
{
    @apply w-16 text-xl text-gray-700 font-serif;
}
.course
{
    @apply rounded-md font-bold text-base;
}
[type=search]::-webkit-search-cancel-button
{
    width: 12px;
    height: 12px;
    border: 0;
    background-size: 16px;
    cursor: pointer;
    opacity: .4;
    transition: .2s;
    position: relative;
}
.result
{
    position: absolute;
    visibility: hidden;
}
.result-show
{
    visibility: visible;
    position: relative;
}
/* change search border when focus */
[type=search]
{
    outline: none;
    border-width: 0.1px;
}
[type=search]:focus
{
    outline: none;
    border-width: 0.1px;
    border-color: #ffb676;
    box-shadow: 0 0 5px #f8efcf;
}
[type=text]
{
    outline: none;
    border-width: 0.1px;
}
[type=text]:focus
{
    outline: none;
    border-width: 0.1px;
    border-color: #ffb676;
    box-shadow: 0 0 5px #f8efcf;
}
[type=password]
{
    outline: none;
    border-width: 0.1px;
}
[type=password]:focus
{
    outline: none;
    border-width: 0.1px;
    border-color: #ffb676;
    box-shadow: 0 0 5px #f8efcf;
}
.ant-switch{
    background-color: #ffb676;
 }
.splitpanes
{
    @apply bg-white;
}
.splitpanes--vertical > .splitpanes__splitter
{
    width: 5px;
    background: linear-gradient(90deg, #ccc, #fff2bb);
}
.main_page_left
{
    max-height: 95vh;
    overflow-y: auto;
    position: relative;
}

/* scroll bar */

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #ffe2c8 #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    @apply w-4;
}

*::-webkit-scrollbar-track {
    @apply bg-white rounded-lg;
}

*::-webkit-scrollbar-thumb {
    @apply bg-[#ffe2c8] rounded-lg border-2 border-white;
}

.small {
    position: relative;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.border{
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.large {
    width: 20rem;
    height: 28rem;
    background-color: white;
}
#drag
{
    @apply fixed top-0 left-0 z-50 hidden duration-500;
}
.search_list::-webkit-scrollbar {
    /* bar color */
    @apply w-2 bg-transparent;
}
.search_list::-webkit-scrollbar-thumb {

    @apply bg-[#7e7e7e] rounded-lg border-2 border-white;
}

.card{
    @apply cursor-pointer justify-items-center h-full w-auto justify-center items-center select-none rounded-lg z-10;
}
.card-content{
    @apply justify-center items-center flex w-full h-full max-h-full;
}
.card:hover{
    transition: 0.100s linear;
    transform: scale(1.25);
    -webkit-transform: scale(1.25) ;
    z-index:2;
}
.fliping-enter-active {
    transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
}
.fliping-leave-active{
    transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
}

.fliping-enter {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    opacity: 0;
}
.fliping-leave-to {
    transform: rotateY(90deg);
    -webkit-transform: rotateY(90deg);
    opacity: 0;
}
.fliping-enter-to{
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    opacity: 0;
}
.fliping-leave  {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    opacity: 0;
}
.color-picker {
    @apply max-w-full max-h-full w-72 h-72;
}
[type=search]::placeholder{
    @apply text-center;
}
.custom {
    @apply bg-transparent border-0 border-b-2 border-gray-500 w-28 text-center;
}
.custom:focus {
    @apply border-none outline-none;
}